body {
  background-color: #222222;
}

.form, .webTitle {
  text-align: center;
}
strong, h1, h5, h5 {
  font-family: 'Montserrat', sans-serif;

}
.webTitle {
  font-family: 'Orbitron', sans-serif;
}
.gameCard {
  text-align: center;
  display: inline-block;
  marign-left: -4px;
  padding: 0;
  height: 500px;

}

ul, li {
  list-style: none;
  display: inline-block;
  margin-right: 25px;
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone 5 Retina */
@media only screen and (min-width : 320px) {

  body {
    background-color: purple;
    padding: 0;
  }

  ul {
    padding: 0;
    margin-left: 25px;
  }

  .gameCard {
    text-align: center;
    display: inline-block;
    marign-left: -4px;
    padding: 0;
  }

}

  /* Custom, iPhone 6 Retina */
  @media only screen and (min-width : 375px) {

    body {
      background-color: red;
      padding: 0;
    }

    ul {
      padding: 0;
      margin-left: 25px;
    }

    .gameCard, li {
      margin-left: -4px;
    }

  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {
    body, html {
      background-color: blue;
      padding: 0;
    }

    .gameCard, li {
      margin: 0 auto;

    }

  }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    body, html {
      background-color: green;
      padding: 0;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    body, html {
      background-color: yellow;
      padding: 0;
    }
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
    body, html {
      background-color: orange;
      padding: 0;
    }
  }








  /*==========  Non-Mobile First Method  ==========*/

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {

  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {

  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {

  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 480px) {

  }

  /* Custom, iPhone Retina */
  @media only screen and (max-width : 320px) {

  }
